body {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

section h1,
p {
  display: flex;
  justify-content: center;
}
table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 5px;
}
